* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbfbfd;
}

#compraronline {
  text-decoration: none;
  color: #0066cc;
}

.icone {
  width: 2%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  background: black;
}
.nav_mobile {
  display: none;
}
li {
  display: inline;
  padding: 2vw;
}
.linkA {
  text-decoration: none;
  color: white;
}

/* INICIO DA ALTERAÇÃO */

/*aqui aqui coloquei a cor cinza claro da barra*/
header {
  background-color: #f5f5f7;
}

/* aqui alterei a cor do background para um cinza mais claro, tirei a linha do link do comprar online, coloquei font sans e, mais 15px auto de margin mais 10% nas laterais*/
.container {
  padding: 15px 10%;
  font-size: 0.9rem;
  text-align: center;
  font-family: sans-serif;
}

/* FIM DA ALTERAÇÃO */

header a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.superSection1 {
  background: #fbfbfd;
  margin: 0.5%;
  height: 350px;
  width: 96vw;
  background-image: url(../img/app.jpg);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 150px;
}
.superSection {
  background: #fbfbfd;
  margin: 0.5%;
  height: 350px;
  width: 96vw;
  background-image: url(../img/iphone__cyamwsdph26a_large.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: white;
}
.superSection2 {
  background: #fbfbfd;
  margin: 0.5%;
  height: 350px;
  width: 96vw;
  background-image: url(../img/app2.jpg);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 150px;
}
.superSection3 {
  background: #fbfbfd;
  margin: 0.5%;
  height: 350px;
  width: 96vw;
  background-image: url(../img/app3.jpg);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 150px;
}
.superSection4 {
  background: #fbfbfd;
  margin: 0.5%;
  height: 350px;
  width: 96vw;
  background-image: url(../img/ipad_snoopy__bge83mwgcaoi_large.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: black;
}

/*
.slimSection img{    
    height: 350px;
    width: 100%;
    opacity: .8;   
}
*/

section p {
  padding-top: 4%;
  font-size: 4rem;
  text-align: center;
}
section a {
  font-size: 4rem;
}

footer {
  background-color: grey;
  padding-bottom: 50px;
}

.pFooter {
  font-size: 14px;
}

footer a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: black;
  padding: 2px;
}
.spanFooter {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.divFooter {
  margin: 3vh;
  display: inline-block;
}
h6 {
  font-size: 16px;
}
@media only screen and (max-width: 968px) {
  .nav_mobile {
    display: flex;
    background-color: black;

    width: 100%;
  }
  .nav_mobile ul {
    z-index: 1;
    display: flex;
    margin-right: 15px;
    width: 100%;
    justify-content: space-between;
  }
  #nav_menu{
    cursor: pointer;
  }

  .icone {
    height: 3vh;
    width: 3vw;
  }

  .nav_desktop {
    position: absolute;
    top: 60px;
    opacity: 0.9;
    display: none;
    width: 100vw;
  }
  .nav_desktop ul li {
    cursor: pointer;
  }

  .nav_desktop ul li a {
    display: block;
  }

  .mobileLi {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .superSection {
    background-size: 100% 100%;
    color: #0066cc;
  }
}
